*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style: none;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1300px;
    margin: auto;
}
header {
    background-color: #FFC601;
    text-align: center;
    height: 44px;
}
/*------------------------------------Nav-------------------------------*/
nav {
    background-color: black;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li, a {
    color: white;
    font-size: 14px;
}
nav ul li:nth-child(2) a {
    color: #FED401;
}
nav ul li:nth-child(2) i {
    color: #FED401;
    font-size: 15px;
    margin-left: 6px;
}
nav ul li:nth-child(3) {
    position: relative;
}
nav ul li:nth-child(3) input {
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding-left: 6px;
    outline: none;
}
nav ul li:nth-child(3) i {
    position: absolute;
    font-size: 20px;
    right: 12px;
    color: black;
    line-height: 30px;
    cursor: pointer;
}
nav ul li:nth-child(4) button {
    height: 30PX; 
    padding: 0 12px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border:  1px solid rgb(128, 126, 126);
    border-radius: 5px;
    transition: all 0.3s ease;
}
nav ul li:nth-child(4) i {
    margin-right: 6px;
}
nav ul li:nth-child(4) button:hover {
    background-color: rgb(107, 101, 101);
}
nav ul li:nth-child(5) {
    text-align: center;
}
nav ul li:nth-child(5):hover a {
    color: #FED401;
}
nav ul li:nth-child(6) a {
    color: #FED401;
}
.btn-content {
    position: relative;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: #FFC601;
    display: block;
    float: left;
    margin-right: 8px;
    
}
.btn-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #FED401;
    display: block;
    pointer-events: none;
    animation: btnani 1s linear infinite;
}
@keyframes btnani {
    from {
        opacity: 0.4;
    }
    to {
        transform: scale(3);
        opacity: 0;
    }
    
}
nav ul li:nth-child(7):hover a {
    color: #FED401;
}
nav ul li:nth-child(8):hover a {
    color: #FED401;
}
nav ul li:nth-child(9):hover a {
    color: #FED401;
}
/*---------------------------------menu-bar-------------------------*/
.menu-bar {
    background-color: #FED401;  
}
.menu-bar ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.menu-bar ul li a {
    color: black;
    font-size: 16px;
}
.menu-bar ul li a i {
    margin-right: 6px;
    margin-left: 4px;
    font-size: 18px;
}
.menu-bar-content > ul > li {
    padding: 15px 6px;
    transition: all 0.3s ease;
}
.menu-bar-content > ul > li:hover {
    background-color: white;
}
.menu-bar-content > ul > li:nth-child(9) {
    position: relative;
}
.menu-bar-content > ul > li:nth-child(9)::before {
    position: absolute;
    content: "Giảm 5%";
    display: block;
    height: 15px;
    width: 45px;
    background-color: #E62E30;
    border-radius: 5px;
    right: -20px;
    top: 1px;
    font-size: 10px;
    padding-left: 3px;
    color: white;
}
.menu-bar-content > ul > li:nth-child(9)::after {
    position: absolute;
    content: "";
    background-color: #E62E30;
    height: 7px;
    width: 7px;
    display: block;
    top: 12px;
    right: 10px;
    z-index: 2;
    transform: rotate(45deg);
    
}
/*------------------------------address form-----------------------------*/
.address-form {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    display: none;
    z-index: 999;
}
.address-form-content {
    width: 500px;
    height: 450px;
    background-color: #fff;
    border-radius: 5px;
}
.address-form-content form {
    padding: 12px 40px;

}
.address-form-content h2 {
    font-size: 14px;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.address-form-content h2 span {
    display: block;
    position: absolute;
    height: 30px;
    padding: 0 6px;
    border: 1px solid #ddd;
    right: 12px;
    cursor: pointer;
    top: 5px;
    line-height: 30px;
    color: #333;
    border-radius: 5px;
}
.address-form-content form p {
    font-size: 16px;
}
.address-form-content form input,select {
    height: 45px;
    display: block;
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
    padding: 6px;
    border-radius: 5px;
}
.address-form-content form button {
    margin-top: 20px;
    height: 40px;
    width: 85%;
    cursor: pointer;
    background-color: #F97E0E;
    outline: none;
    border: none;
    color: white;
    border-radius: 5px;
}

/*---------------------------submenu--------------------------*/
.menu-bar-content ul li {
    position: relative;
}
.submenu {
    position: absolute;
    background-color: white;
    width: 300px;
    height: auto;
    left: 0;
    top: 100%;
    padding: 12px;
    border-radius: 5px;
    display: none;
    z-index: 10;
}
.submenu ul {
    display: flex;
    flex-direction: column;
}
.submenu ul li {
    padding: 6px 0;
}
.menu-bar-content ul li:hover .submenu {
    display: block;
}
.submenu ul li:hover a {
    color: rgb(103, 161, 248);
    font-weight: bold;
}
/* -----------------------------Slider------------------------ */
.slider {
    padding: 20px 0;
    height: 450px;
}
.slider-content {
    display: flex;
    justify-content: space-between;
}
.slider-content-left {
    width: 70%;
    margin-right: 3px;
}
.slider-content-left-top {
    width: 100%;
    height: 350px;
    position: relative;
    transition: all 0.3s ease;
}
.slider-content-left-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-content-left-bottom {
    display: flex;
    justify-content: space-between;
    border: 2px solid #ddd;
    border-top: none;
    height: 61px;
    text-align: center;
}
.slider-content-left-bottom li {
    width: 30%;
    text-align: center;
    cursor: pointer;
    padding: 6px 0;
    height: 100%;
    position: relative;
    font-size: 14px;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
}
.slider-content-left-bottom li::before {
    display: block;
    content: "";
    position: absolute;
    height: 70%;
    width: 1px;
    background-color: #ddd;
    right: 0;
}
.slider-content-left-bottom li.active {
    border-top: 4px solid #FED401;
    font-weight: bold;
}
.slider-content-right {
    width: 30%;
    display: flex;
    /* tự động xuống dòng */
    flex-wrap: wrap;  
    padding: 0;
    margin-left: 3px;
    justify-content: space-around;
}
.slider-content-right li {
    width: 50%;
    height: 50%;
    text-align: center;
    margin-bottom: 10px;
}
.slider-content-right li img {
    height: 193px;
    width: 193px;
    margin-left: auto;
    margin-right: auto;
}
.slider-content-left-top-btn {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.slider-content-left-top-btn i {
    color: rgb(150, 146, 146);
    font-size: 40px;
    height: 60px;
    width: 35px;
    background-color: rgb(255, 254, 254);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease;
    cursor: pointer;
}
/* .slider-content-left-top:hover i{
    opacity: 1;
} */
.slider-content-left-top-container:hover i {
    opacity: 1;
}

/* ---------------------- Slider JS ------------------- */
.slider-content-left-top img {
    position: absolute;
}
.slider-content-left-top a:nth-child(2) img {
    transform: translateX(100%);
}
.slider-content-left-top a:nth-child(3) img {
    transform: translateX(200%);
}
.slider-content-left-top a:nth-child(4) img {
    transform: translateX(300%);
}
.slider-content-left-top a:nth-child(5) img {
    transform: translateX(400%);
}
.slider-content-left-top a:nth-child(6) img {
    transform: translateX(500%);
}
.slider-content-left-top a:nth-child(7) img {
    transform: translateX(600%);
}
.slider-content-left-top a:nth-child(8) img {
    transform: translateX(700%);
}
.slider-content-left-top a:nth-child(9) img {
    transform: translateX(800%);
}
.slider-content-left-top-container {
    position: relative;
    overflow: hidden;  /* chỉ hiển thị trong div, ngoài div ko hiển thị */
}
/* -----------------------Banner1------------------------ */
.banner-one img{
    width: 100%;
    padding-bottom: 12px;
}
.slider-product-one-content {
    background-color: #FEC604;
    padding: 0;
}
.slider-product-one-content-items {
    display: flex;
    justify-content: space-evenly;
}
.slider-product-one-content-item:hover > img {
    transform: translateY(-20px);
}

.slider-product-one-content-item {
    width: 19%;
    background-color: #fff;
    padding: 50px 12px 50px;
    border-radius: 5px;
}
.slider-product-one-content-item > img {
    width: 100%;
    transition: all 0.5s ease;
}
.slider-product-one-content-title h2{
    font-style: italic;
    /* trên dưới cách 12px */
    padding: 12px 12px; 
}
.slider-product-one-content-item-text {
    padding-top: 20px;  
}
.slider-product-one-content-item-text li {
    margin-bottom: 6px;
    color: #666;
}

.slider-product-one-content-item-text li:first-child {
    height: 20px;
    width: 70%;
    background-color: #E72063;
    display: inline-block;
    margin-bottom: 20px;
    align-items: center;
    /* cho line-height bằng đúng chiều cao thì text sẽ vào giữa */
    line-height: 20px; 
    border-radius: 40px;
}

.slider-product-one-content-item-text li:first-child p {
    color: #fff;
    font-size: 12px;
}
.slider-product-one-content-item-text li:first-child img {
    width: 20px;
    float: left;
    margin-right: 6px;
}
.slider-product-one-content-item-text li:nth-child(2):hover {
    color: #288AD6;
}
.slider-product-one-content-item-text li:nth-child(4) {
    font-weight: bold;
    color: #D0021C;
}
.slider-product-one-content-item-text li span {
    color: #EB5757;
    background-color: #FFF0E9;
    border-radius: 6px;
    margin-left: 10px;
}
.slider-product-one-content-item-text li:last-child i {
    color: #FB6E2E;
}

/* ------------------------------ Slider-Product------------------------- */

.slider-product-one-content-container {
    position: relative;
    overflow: hidden;
}
.slider-product-one-content-btn {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.slider-product-one-content-btn i {
    color: rgb(150, 146, 146);
    font-size: 40px;
    height: 60px;
    width: 35px;
    background-color: rgb(255, 254, 254);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.slider-product-one-content-items-content {
    position: relative;
    height: 550px;
    transition: all 0.5s ease;
}
.slider-product-one-content-items {
    position: absolute;
}
.slider-product-one-content-items:nth-child(2) {
    transform: translateX(100%);
}
.slider-product-one-content-items:nth-child(3) {
    transform: translateX(200%);
}

/* ----------------------------Product Gallery-------------------------- */
.product-gallery-one{
    margin-top: 30px;
}
.product-gallery-one-content-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.product-gallery-one-content-title h2{
    color: #333;
}
.product-gallery-one-content-title ul li a {
    color: #333;
    font-size: 14px;
    transition: all 0.3s ease;
}
.product-gallery-one-content-title ul {
    /* cho nằm trên cùng 1 hàng */
    display: flex;
}
.product-gallery-one-content-title ul li {
    padding: 6px 12px;
    border: 1px solid #ddd;
    margin-left: 12px;
    border-radius: 20px;
}
.product-gallery-one-content-title ul li:hover a{
    color: #288AD6;
}
.product-gallery-one-content-product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-gallery-one-content-product-item {
    width: 19%;
    padding: 50px 12px 12px;
    border: 1px solid rgb(232, 230, 230);
    border-radius: 5px;
    margin-bottom: 15px;
}
.product-gallery-one-content-product-item:hover > img{
    transform: translateY(-20px);
}
.product-gallery-one-content-product-item:hover {
    box-shadow: 3px 3px 3px 3px #ddd;
}
.product-gallery-one-content-product-item > img {
    width: 100%;
    transition: all 0.5s ease;
}
.product-gallery-one-content-product-item-text {
    padding-top: 20px;  
}
.product-gallery-one-content-product-item-text li {
    margin-bottom: 6px;
    color: #666;
}

.product-gallery-one-content-product-item-text li:first-child {
    height: 20px;
    width: 70%;
    background-color: #E72063;
    display: inline-block;
    margin-bottom: 20px;
    align-items: center;
    /* cho line-height bằng đúng chiều cao thì text sẽ vào giữa */
    line-height: 20px; 
    border-radius: 40px;
}

.product-gallery-one-content-product-item-text li:first-child p {
    color: #fff;
    font-size: 12px;
}
.product-gallery-one-content-product-item-text li:first-child img {
    width: 20px;
    float: left;
    margin-right: 6px;
}
.product-gallery-one-content-product-item-text li:nth-child(2):hover {
    color: #288AD6;
}
.product-gallery-one-content-product-item-text li:nth-child(4) {
    font-weight: bold;
    color: #D0021C;
}
.product-gallery-one-content-product-item-text li span {
    color: #EB5757;
    background-color: #FFF0E9;
    border-radius: 6px;
    margin-left: 10px;
}
.product-gallery-one-content-product-item-text li:last-child i {
    color: #FB6E2E;
}
/* ----------------------------Product Gallery Two-------------------------- */
.product-gallery-two {
    margin-top: 30px;
}
.product-gallery-two-content {
    height: 100%;
    display: flex;
    padding-right: 12px;
    background-color: #474747;
}
.product-gallery-two-content-right {
    width: 20%;
}
.product-gallery-two-content-right img {
    width: 100%;
    height: 520px;
}
.product-gallery-two-content-left {
    width: 80%;
    display: flex;
    flex-direction: column;
}
.product-gallery-two-content-left-top {
    height: 70px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color: #ddd;
}
.product-gallery-two-content-left-top li {
    /* trên dưới 8px, trái phải 12px*/
    padding: 10px 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}
.product-gallery-two-content-left-top .active {
    background-color: #fff;
    color: #474747;
}
.product-gallery-two-content-left-top li:last-child {
    border: none;
}
.product-gallery-two-content-left-top li:last-child a {
    font-size: 16px;
}
.product-gallery-two-content-left-top li:last-child i {
    margin-left: 3px;
}
.product-gallery-two-content-left-bottom {
    background-color: #fff;
    display: flex;
    border-radius: 5px;
}
.product-gallery-two-content-left-bottom-item {
    width: 25%;
    padding: 50px 20px 20px;
    border-right: 1px solid #ddd;
    cursor: pointer;
}
.product-gallery-two-content-left-bottom-item img {
    width: 100%;
}
.product-gallery-two-content-left-bottom-item-text li {
    margin-bottom: 6px;
}